# Core functionality - changes here should be rare!
/src/app.py                   @drewdev01
/src/backend/database.py      @drewdev01
/src/backend/routers/auth.py  @drewdev01

# The frontend will need refactored soon to be more object oriented.
/src/static/   @drewdev01
